body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(226, 226, 226);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 3 0px;
  border-top: 1px solid white;;
  border-radius: 20px ;
  margin:-15px;
  padding: 0;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.table{
  background-color: rgb(180, 237, 255);
  border-color: #ffffff;
 
}
.dateBox{
  background-color: #06AED5;
}

.table-1{
  color: black;
  background-color:rgb(231, 229, 229) ;
  border-color: #494747;
}
.table-2{
  color: black;
  background-color:rgb(209, 209, 209) ;
  border-color: #494747;
}
.table-3{
  color: black;
  background-color:rgb(22, 190, 64) ;
  border-color: #494747;
}

.fa{
  color: #ffffff;
  font-size: 30px;
  align-items: center;
}
